# This is the URL that SQLx will use to make connections to the Postgres database.
#
# Generate random keys with `openssl rand -base64 32`
DATABASE_URL=postgres://postgres:LOCALTESTINGxmhu5jVVwJ4sMlz7DAdKf0z4QPFY9Yc@localhost:5432/chocodb

# Configures which modules `EnvFilter` should emit logs for.
RUST_LOG=chocoapi=debug,tower_http=debug

# `APP_ENVIRONMENT` can be "local" or "production"
APP_ENVIRONMENT=local
